  body {
    display: grid;
    font-family: "Roboto Mono", monospace;
    height: 100vh;
    margin: 0;
    place-items: center;
  }
  
  p {
    color: black;
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
  }
  
  button {
    background-color: #000000;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    padding: 20px 50px;
    text-align: center;
    transition: opacity 0.4s ease-in-out;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .container {
    box-shadow: 20px 15px;
    text-align: center;
    background: rgba(234, 231, 231, 0.895);
    border-radius: 50px;
    height: 300px;
    padding: 20px;
    position: relative;
    width: 50%;
  }
  
  .title {
    font-size: 4rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .color {
    margin: 30px 0;
    font-size:x-large;
  }